# Default server definition
#
# Nexttop 2023-2025 (nexttop.se)
# Maintenance nexttop -> hossein a.t. (osxx.com)
#
server {
    listen [::]:%NGINX_INTERNAL_PORT%;
    listen %NGINX_INTERNAL_PORT%;
    server_name mysite.test ;

    sendfile off;
    tcp_nodelay on;
    absolute_redirect off;

    root /var/www/html/mysite.test;
    index index.html;

    location / {
        # First attempt to serve request as file, then
        # as directory, then fall back to index.html
        try_files $uri $uri/ /index.html?q=$uri&$args;
    }

    location ~ \.php(/|$) {
        try_files $uri =404;
        fastcgi_split_path_info ^(.+\.php)(/.+)$;
        fastcgi_pass %PHPFPM_IP%:%PHPFPM_DEFAULT_STARTPORT%;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
        fastcgi_index index.php;
        include fastcgi_params;
    }

    # Redirect server error pages to the static page /50x.html
    error_page 500 502 503 504 /50x.html;
    location = /50x.html {
        root /var/lib/nginx/html;
    }

    # Set the cache-control headers on assets to cache for 5 days
    location ~* \.(jpg|jpeg|gif|png|css|js|ico|xml)$ {
        expires 5d;
    }

    # Deny access to . files, for security
    location ~ /\. {
        log_not_found off;
        deny all;
    }
}
